<button type="button" class="btn btn-link">
  <%= link_to "Create new transaction", new_transaction_path %>
</button>

<button type="button" class="btn btn-link">
  <%= link_to "History of transactions", transactions_path %>
</button>
