<%= render 'shared/transaction_buttons' %>

<main class="container general-main-wrap">
  <div class="text-center">
    <h3 class="general-login-title">
      <%= t 'transactions.create.new_transaction' %>
    </h3>
  </div>
</main>
